.user-card{
    border: 2px solid blue;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}
.user-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.role-badge{
    background-color: gray;
    color: #383d41;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}
.user-date{
    font-size: 0.85rem;
    color: #6c757d;
    margin-top: 10px;
}